asgiref==3.11.0
Django==5.2.8
django-cors-headers==4.9.0
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
PyJWT==2.10.1
sqlparse==0.5.3
tzdata==2025.2
# psycopg2 install: pip install psycopg2-binary OR install Visual C++ build tools
gunicorn==21.2.0
whitenoise==6.5.0
python-dotenv==1.1.1
